.signup-page {
    margin-top: 10%;
    font-family: 'Barlow Condensed', serif;
}

body {
    background-color:  rgb(242,92,42);
}

h1 {
    font-size: 50px;
    color: white;
}

.btn {
    width: 30%;
}