/* body */

.admin_panel {
  background: #FFCD8A;
  overflow: hidden;
}

/* navigation */

.admin_panel .nav {
  display: grid;
  align-content: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 52px;
  background: #AA6100;
  z-index: 100;
}

.admin_panel .nav div {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-content: center;
  align-items: center;
  height: 100px;
  width: 52px;
  overflow: hidden;
  border-top: 1px solid #F7A434;
  background: #AA6100;
  cursor: pointer;
  transition: width 0.3s;
  user-select: none;
  z-index: 10000;
}

@media (min-width: 576px) {
  .admin_panel .nav div:hover {
    width: 215px;
  }
}

.admin_panel .nav .lastlink {
  border-bottom: 1px solid #F7A434;
}

.admin_panel .nav i {
  grid-column: 1 / 2;
  color: #F7A434;
  padding: 10px;
  font-size: xx-large;
}

@media (max-width: 575px) {
  .admin_panel .nav i {
    font-size: x-large;
  }
  .admin_panel .nav {
    width: 44px;
  }
  .admin_panel .nav div {
    width: 44px;
  }
  .admin_panel section>div {
    margin-left: 44px !important;
  }
}

.admin_panel .nav a {
  color: #F7A434;
  grid-column: 2 / 3;
  font-weight: bold;
  font-family: 'Kanit';
  font-size: large;
}

/* SECTION 1 */

#stats-section .admin-stats {
  display: grid;
  height: 100vh;
  margin-left: 52px;
}

/* END SECTION 1 */

/* SECTION 2 */

#list-section .order-list {
  display: grid;
  height: 100vh;
  margin-left: 52px;
}

/* END SECTION 2 */

/* SECTION 3 */

#mgu-section .manage-users {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  height: 100vh;
  overflow: scroll;
  margin-left: 52px;
}

#admp {
  background-color: #FFCD8A;
}

#admp #user_data {
  border-collapse: collapse;
}

#admp #user_data th {
  border: 1px solid rgb(218, 108, 68);
  background-color: rgb(218, 108, 68);
  font-family: 'Barlow Condensed', serif;
  color: black;
  font-size: x-large;
  text-align: center;
}

#admp #user_data td {
  border: 1px solid rgb(218, 108, 68);
  font-family: 'Barlow Condensed', serif;
  font-size: x-large;
  text-align: center;
}

#admp #user_data tr:hover {
  background-color: #f1bf73;
}

#admp #titulli {
  padding-top: 30px;
  justify-content: center;
  color: black;
  letter-spacing: 2px;
  font-size: 50px;
  font-family: 'Barlow Condensed', serif;
}

#admp #add_button {
  font-family: 'Barlow Condensed', serif;
}

#admp .modal-content {
  background-color: #fcf5e8;
}

#admp #add, #update_mod, #delete_mod {
  font-family: 'Barlow Condensed', serif;
}

#admp .modal-title {
  font-family: 'Barlow Condensed', serif;
  font-size: 40px;
}

#admp #modal_msgAd, #modal_msgUp, #modal_msgDel {
  text-align: center;
  font-family: 'Barlow Condensed', serif;
}

#admp .form-control {
  border-color: #f1bf73;
  font-family: 'Barlow Condensed', serif;
}

#admp .radio {
  font-family: 'Barlow Condensed', serif;
  font-size: large;
  text-align: center;
}

#admp #kuti {
  margin-bottom: 30px;
}

/* END SECTION 3 */

/* SECTION 4 */

#mgp-section .manage-products {
  display: grid;
  height: 100vh;
  margin-left: 52px;
}

/* END SECTION 4 */

/* SECTION 5 */

#mgo-section .manage-offers {
  display: grid;
  height: 100vh;
  margin-left: 52px;
}

/* END SECTION 5 */