/* body */

.admin_panel {
  background: #FFCD8A;
  overflow: hidden;
}

/* navigation */

.admin_panel .nav {
  display: grid;
  align-content: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 52px;
  background: #AA6100;
  z-index: 100;
}

.admin_panel .nav div {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-content: center;
  align-items: center;
  height: 100px;
  width: 52px;
  overflow: hidden;
  border-top: 1px solid #F7A434;
  background: #AA6100;
  cursor: pointer;
  transition: width 0.3s;
  user-select: none;
  z-index: 10000;
}

@media (min-width: 576px) {
  .admin_panel .nav div:hover {
    width: 215px;
  }
}

.admin_panel .nav .lastlink {
  border-bottom: 1px solid #F7A434;
}

.admin_panel .nav i {
  grid-column: 1 / 2;
  color: #F7A434;
  padding: 10px;
  font-size: xx-large;
}

@media (max-width: 575px) {
  .admin_panel .nav i {
    font-size: x-large;
  }
  .admin_panel .nav {
    width: 44px;
  }
  .admin_panel .nav div {
    width: 44px;
  }
  .admin_panel section>div {
    margin-left: 44px !important;
  }
}

.admin_panel .nav a {
  color: #F7A434;
  grid-column: 2 / 3;
  font-weight: bold;
  font-family: 'Kanit';
  font-size: large;
}

/* SECTION 1 */

#stats-section .admin-stats {
  height: 100vh;
  margin-left: 52px;
  overflow: hidden;
}

/* END SECTION 1 */

/* SECTION 2 */

#list-section .order-list {
  height: 100vh;
  margin-left: 52px;
  overflow: hidden;
}

/* hr */

#list-section hr {
	border-width: medium;
}

/* h1 */

#list-section h1 {
	font-family: 'Bree Serif';
  font-size: xx-large;
}

@media (max-width: 576px) {
	#list-section h1 {
		font-size: x-large;
	}
}

/* order list table */

.olist {
  max-height: 80vh;
  overflow: auto;
}

.olist table {
  margin-bottom: 0;
}

/* order table head */

.olist-table thead tr th {
	border-top: none;
	border-bottom: 1px solid black;
	font-size: small;
	font-family: 'Electrolize';
}

/* order table body */

.olist-table .table tbody tr td {
	border-bottom: 1px solid black;
	font-size: medium;
	font-family: 'Economica';
	text-align: center;
  vertical-align: middle;
}

/* END SECTION 2 */

/* SECTION 3 */

#mgu-section .manage-users {
  height: 100vh;
  margin-left: 52px;
  overflow: hidden;
}

#kuti {
  max-height: 75vh;
  overflow: auto;
}

#kuti #user_data {
  margin-bottom: 0;
  border: none;
}

#admp #user_data th {
  border: 1px solid rgb(218, 108, 68);
  background-color: rgb(218, 108, 68);
  font-family: 'Barlow Condensed', serif;
  color: black;
  font-size: x-large;
  text-align: center;
}

#admp #user_data td {
  border: 1px solid rgb(218, 108, 68);
  font-family: 'Barlow Condensed', serif;
  font-size: x-large;
  text-align: center;
}

#admp #user_data tr:hover {
  background-color: #f1bf73;
}

#admp #titulli {
  padding-top: 30px;
  justify-content: center;
  color: black;
  letter-spacing: 2px;
  font-size: xxx-large;
  font-family: 'Barlow Condensed', serif;
}

@media (max-width: 576px) {
	#admp #titulli {
    font-size: xx-large;
  }
  #kuti {
    max-height: 78vh;
  }
}

#admp #add_button {
  font-family: 'Barlow Condensed', serif;
}

#admp .modal-content {
  background-color: #fcf5e8;
}

#admp #add, #update_mod, #delete_mod {
  font-family: 'Barlow Condensed', serif;
}

#admp .modal-title {
  font-family: 'Barlow Condensed', serif;
  font-size: 40px;
}

#admp #modal_msgAd, #modal_msgUp, #modal_msgDel {
  text-align: center;
  font-family: 'Barlow Condensed', serif;
}

#admp .form-control {
  border-color: #f1bf73;
  font-family: 'Barlow Condensed', serif;
}

#admp .radio {
  font-family: 'Barlow Condensed', serif;
  font-size: large;
  text-align: center;
}

#admp .form-check-label {
  font-family: 'Barlow Condensed', serif;

}

/* END SECTION 3 */

/* SECTION 4 */

#mgp-section .manage-products {
  height: 100vh;
  margin-left: 52px;
  overflow: hidden;
}

#kuti_p {
  max-height: 75vh;
  overflow: auto;
}

#kuti_p #prod_data {
  margin-bottom: 0;
  border: none;
}

#admp #prod_data th {
  border: 1px solid rgb(218, 108, 68);
  background-color: rgb(218, 108, 68);
  font-family: 'Barlow Condensed', serif;
  color: black;
  font-size: x-large;
  text-align: center;
}

#admp #prod_data td {
  border: 1px solid rgb(218, 108, 68);
  font-family: 'Barlow Condensed', serif;
  font-size: x-large;
  text-align: center;
}

#admp #prod_data tr:hover {
  background-color: #f1bf73;
}

#admp #titulli {
  padding-top: 30px;
  justify-content: center;
  color: black;
  letter-spacing: 2px;
  font-size: xxx-large;
  font-family: 'Barlow Condensed', serif;
}

@media (max-width: 576px) {
	#admp #titulli {
    font-size: xx-large;
  }
  #kuti_p {
    max-height: 78vh;
  }
}

#admp #prod_add_button {
  font-family: 'Barlow Condensed', serif;
}

#admp .modal-content {
  background-color: #fcf5e8;
}

#admp #prod_add, #prod_update_mod, #prod_delete_mod {
  font-family: 'Barlow Condensed', serif;
}

#admp .modal-title {
  font-family: 'Barlow Condensed', serif;
  font-size: 40px;
}

#admp #modal_prod_msgAd, #modal_prod_msgUp, #modal_prod_msgDel {
  text-align: center;
  font-family: 'Barlow Condensed', serif;
}

#admp .form-control {
  border-color: #f1bf73;
  font-family: 'Barlow Condensed', serif;
}

#admp .radio {
  font-family: 'Barlow Condensed', serif;
  font-size: large;
  text-align: center;
}

#admp .form-check-label {
  font-family: 'Barlow Condensed', serif;

}
/* END SECTION 4 */

/* SECTION 5 */

#mgo-section .manage-offers {
  height: 100vh;
  margin-left: 52px;
  overflow: hidden;
}

/* END SECTION 5 */