 /* Body background */
 
 .homepage {
     background-color: #FFE6D0;
 }
 
 
 /* Navigation Bar padding */

.navigationbar {
    padding: 20px 10px 20px 10px ;
}
    
/* Brand */

.navigationbar .container .navbar-brand {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Satisfy', serif;
    letter-spacing: 4px;
    font-size: xx-large;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    
  }

  .navigationbar .container .navbar-brand b {
      align-self: center;
      padding-top: 4px;
      padding-bottom: 10px;
  }

  /* Media query for navbar-brand */

  @media (max-width: 292px ) {
    .navigationbar .container .navbar-brand {
        margin-right: 0px;
        margin-left: 0px;  
    }
    .navigationbar .container .navbar-toggler {
        padding-left: 0px;
    }
}

  /* Ave */

  .navigationbar .container .navbar-brand span {
    color: rgb(240, 53, 53);
  }

 /* Toggler */

.navigationbar .container .navbar-toggler i {
    color: white; 
  }

/* Menu items */

.navigationbar .container .navbar-collapse .navbar-nav .nav-item {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
  }

.navigationbar .container .navbar-collapse .navbar-nav .nav-item a {
    font-family: 'Righteous', serif;
    color: rgb(255, 255, 255);
    font-size: medium;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
  }

  .navigationbar .container .navbar-collapse .navbar-nav .nav-item .porosit {
    border: 2.5px solid white;
  }

  .navigationbar .container .navbar-collapse .navbar-nav .nav-item .porosit:hover {
    background-color: rgba(128, 128, 128, 0.5);
    transition: background-color 0.3s;
  }

.navigationbar .container .navbar-collapse .navbar-nav .nav-item a:hover {
    border-color: white;
  }

/* Media queries for navigation bar */

@media screen and (max-width: 991px) {
    .navigationbar .container {
      margin-left: 5px;
      margin-right: 5px;
    }

    .navigationbar .container .navbar-collapse .navbar-nav {
      padding-top: 15px;
    }
  
    .navigationbar .container .navbar-collapse .navbar-nav .nav-item {
      padding-left: 0;
    }
  
    .navigationbar .container .navbar-collapse .navbar-nav .nav-item a {
      border-bottom: none;
      font-size: small;
    } 

    .navigationbar .container .navbar-collapse .navbar-nav .nav-item .porosit {
      border: none;
    }
  }

/* first slide */

.carousel-inner .carousel-item .first {
  background-image: url("../../img/ave-cesare1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

/* second slide */

.carousel-inner .carousel-item .second {
  background-image: url("../../img/ave-cesare2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
 }

/* third slide */

.carousel-inner .carousel-item .third {
  background-image: url("../../img/ave-cesare8.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

/* Card carousel */

 .card-body {
   background-color: #FFE6D0;
   justify-content: center;
 }


/* Banner background */

.my-row .my-leftcontainer .servicetime .jumbotron {
    background-image: url("../../img/pizzabanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


#banner {
    font-family: fantasy;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    text-align: center;
}

/* 4 infos */

.my-row .my-leftcontainer .fourinfo .jumbotron {
    background-color: rgba(253, 211, 211, 0.945);
}

.my-row .my-leftcontainer .fourinfo .jumbotron h6 {
    color: rgb(0, 0, 0);
    text-align: center;
}

/* mobile-version */

.my-row .my-rightcontainer .mobile {
    background-image: url("../../img/side-content.png");
    background-size: cover;
    background-position: center;
}

/* footer */

.footer {
    background: rgba(199, 68, 68, .7);
    padding-top: 50px;
}

.footer .mylastcontainer .mylastrow h2 h3 {
    color:#fff;
}

.footer .mylastcontainer .mylastrow h2 {
    font-size: 18px;
}

.footer-item h3 {
    font-family: 'Lucida Grande';
    color: rgb(255, 255, 255);
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: cornsilk;
}

.footer-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: justify;
}

.footer-item ul li {
    border-bottom: 1px solid rgba(243, 236, 236, 0.3);
    line-height: 30px;
    text-align: center;
}

/* quick menu */

.footer-item ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

/* quick menu on hover */

.footer-item ul li a:hover {
    color: crimson;
}

.footer-item i {
    margin: 20px 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
}

.footer-item .socmed {
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr 0fr;
}

/* media query for social media icons */

@media (max-width: 768px ) {
    .footer-item .socmed {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;  
    }
}

/* &copy */
.footer .footer-bottom {
    text-align: center;
    letter-spacing: 3px;
    padding: 30px;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/