.login-page {
    margin-top: 180px;
    font-family: 'Barlow Condensed', serif;
}

h1 {
    font-size: 60px;
    color: white;
}

body {
    background-color:  rgb(242,92,42);
}

.btn{
    width: 30%;
}