.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Barlow Condensed', serif;
}

#login-body .login-page * {
    z-index: 100 !important;
}

#login-h1 {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: black;
}

#kycje {
	background:linear-gradient(to bottom, #c4361d 5%, #f76a3f 100%);
	background-color:#c72104;
    border-radius:20px;
    opacity: 0.75;
	border:1px solid #c4361d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:20px;
	padding:5px 25px;
	text-decoration:none;
	text-shadow:0px 1px 23px #8a7844;
}
#kycje:hover {
	background:linear-gradient(to bottom, #f04646 5%, #ec6a53 100%);
	background-color:#f04646;
}
#kycje:active {
	position:relative;
	top:1px;
}

#login-body .form-control:focus {
    border-color: white;
    box-shadow: none;
  }

#login-body {
    background: url("../../img/login-bckg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    height: 100%;
}

#login-body .shading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    z-index: -1;
}

#login-body ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

 #login-body .form-group {
    position: relative;
  }

.no-acc {
    color: rgba(255, 255, 255, 0.7);
}

#login-body .email, .pass {
    border: 1px solid rgb(114, 104, 104);
}

#login-body .form-group span {
    position: absolute;
    right: 0;
    top: 8px;
    padding-right: 8px;
    color:white;
    transition: 0.3s;
  }

  #login-body input.form-control {
    color: white;
    
}

#login-body .form-control:focus {
  border-color: white;
  box-shadow: none;
}

#login-body .btn:focus {
  border-color: white;
  box-shadow: none;
}