/* body color */

.usro {
	background: #f8c985;
}

/* mycontainer */

.usro .mycontainer {
	background-image: url('https://www.transparenttextures.com/patterns/food.png');
	background-repeat: repeat;
	background-size: inherit;
	background-position: center;
}

/* clock body */

.clock {
	background: #C7914E;
	opacity: 0.8;
	width: 25vmin;
	height: 25vmin;
	border-radius: 50%;
	position: relative;
}

/* clock middle dot */

.clock .middle1 {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 5%;
	height: 5%;
	background: #2E1912;
	border-radius: 50%;
	z-index: 1;
}

/* clock hour hand */

.clock .hour {
	position: absolute;
	margin: auto;
	left: 49%;
	bottom: 50%;
	background: #5D382A;
	width: 2%;
	height: 40%;
	transform: rotate(0);
	transform-origin: 50% 100%;
}

/* clock minute hand */

.clock .minute {
	position: absolute;
	left: 49%;
	bottom: 50%;
	margin: auto;
	height: 48%;
	width: 2%;
	transform: rotate(0);
	transform-origin: 50% 100%;
	background: #7B5C3C;
}

/* clock second hand */

.clock .second {
	position: absolute;
	left: 49.5%;
	bottom: 50%;
	height: 48%;
	width: 1%;
	transform: rotate(0);
	transform-origin: 50% 100%;
	background: #BC6C55;
}

/* open & closed sign */

.sign-012 {
	font-family: 'Dancing Script';
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1px;
}

/* border */

.mycontainer {
	border-width: 2px !important;
}

/* sign */

.usro .sign-012 {
	font-size: x-large;
}

@media (max-width: 576px) {
	.usro .sign-012 {
		font-size: large;
	}
}

/* hr */

.usro hr {
	border-width: medium;
}

/* h1 */

.usro h1 {
	font-family: 'Bree Serif';
	font-size: xx-large;
}

@media (max-width: 576px) {
	.usro h1 {
		font-size: x-large;
	}
}

/* cart table head */

.cart-table thead tr th {
	border-top: none;
	border-bottom: 1px solid black;
	font-size: small;
	font-family: 'Electrolize';
}

/* cart table body */

.cart-table .table tbody tr td {
	border-bottom: 1px solid black;
	font-size: medium;
	font-family: 'Economica';
	text-align: center;
	vertical-align: middle;
}

/* cart table body buttons */

.cart-table .table tbody .btn:focus {
	box-shadow: none;
	outline: none !important;
}

/* cart table body span */

.cart-table .table tbody span.btn {
	cursor: default;
}

/* cart table product name */

.cart-table .table tbody tr td:nth-child(3) {
	text-align: start;
}

/* table remove icon */

.cart-table .table tbody tr td .material-icons {
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
}

/* table product image */

.cart-table .table tbody tr td img {
	width: 100%;
	min-width: 75px !important;
	max-width: 80px !important;
	min-height: 55px !important;
	max-height: 55px !important;
}

/* delivery form type focus */

.delivery-form .btn:focus, .delivery-form .dropdown-menu .dropdown-item, .delivery-form input:focus {
	box-shadow: none;
	outline: none !important;
}

/* delivery form type dropdown menu */

.delivery-form .dropdown-menu {
	background-color: #F8C986;
}

/* delivery form type dropdown item */

.delivery-form .dropdown-menu .dropdown-item {
	background-color: #F8C986;
	color: #343a40;
	font-family: 'Economica';
}

/* delivery form type dropdown item on hover */

.delivery-form .dropdown-menu .dropdown-item:hover {
	background-color: burlywood;
}

/* delivery form type dropdown item active */

.delivery-form .dropdown-menu .active {
	background-color: burlywood;
}

/* delivery form type dropdown selected item */

.delivery-form .dropdown-toggle {
	font-family: 'Economica';
}

/* mobile number */

.usro .order-mnum {
	font-family: 'Economica';
	font-size: large;
}

/* location input */

.usro .order-location {
	font-family: 'Economica';
	font-size: large;
}

/* modal map */

#mapmodal .modal-body {
	height: 65vmin;
}

/* modal map content */

#mapmodal .modal-content {
	background: #fdf4e6;
	font-family: 'Economica';
}

/* order summary */

.order-summary div {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* order summary text */

.order-summary div h4 {
	font-family: 'Iceland';
	text-align: right;
	font-size: larger;
}

.order-summary div h4 b {
	font-size: x-large;
}

@media (max-width: 576px) {
	.order-summary div h4 {
		font-size: medium;
	}
	.order-summary div h4 b {
		font-size: larger;
	}
}

/* cart empty text */

.cart-empty h3 {
	font-size: x-large;
	font-family: 'Economica';
	letter-spacing: 1px;
}

@media (max-width: 576px) {
	.cart-empty h3 {
		font-size: larger;
	}
}

/* card empty image */

.cart-empty img {
	opacity: 0.8;
}

/* checkbox style */

.payment-method input[type=checkbox] {
	display: none;
}

.payment-method label {
	margin-bottom: 0;
	display: grid;
	grid-template-columns: 1fr 10fr;
	align-items: center;
	cursor: pointer;
	font-family: 'Economica';
}

.payment-method input[type=checkbox] + label::before {
	font-family: 'Material Icons';
	content: "radio_button_unchecked";
	font-size: larger;
	transition: 0.3s ease-out;
}

.payment-method input[type=checkbox]:active + label::before {
	transform: scale(0.6);
}

.payment-method input[type=checkbox]:checked + label::before {
	content: "check_circle_outline";
}

/* send order button */

.usro .send-order button {
	width: 45%;
	font-size: larger;
	font-family: 'Economica';
}

.usro .send-order button:focus {
	outline: none;
	box-shadow: none !important;
}

@media (max-width: 576px) {
	.usro .send-order button {
		width: 100%;
		font-size: medium;
	}
}